In [5]:
import pandas as pd
import numpy as np

sheets = pd.read_excel('./data/PC_Vehicles-in-use.xlsx', sheet_name=[1,2,3])

In [6]:
type(sheets)

dict

In [7]:
sheets[2]

,REGIONS/COUNTRIES,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,BULGARIA,2538.000,1768.000,2082.000,2366.000,2502.000,2602.000,2694.000,2806.814,2910.235,3013.863,3162.037
1,CROATIA,1385.000,1436.000,1491.000,1535.000,1533.000,1515.000,1518.000,1445.220,1448.299,1474.495,1499.802
2,CYPRUS,355.000,373.000,411.000,444.000,461.000,463.000,470.000,475.000,474.561,478.492,487.692
3,CZECH REPUBLIC,3959.000,4109.000,4280.000,4423.000,4435.000,4496.000,4583.000,4699.000,4820.299,4937.206,5158.516
4,ESTONIA,493.800,554.000,523.800,551.800,545.700,552.700,574.015,602.133,628.500,653.000,676.600
5,HUNGARY,2889.000,2954.000,3012.000,3055.427,3013.719,2984.063,2967.808,2986.028,3040.732,3107.695,3196.856
6,LATVIA,742.447,822.011,904.869,932.828,904.308,636.664,612.321,618.274,634.603,657.799,679.048
7,LITHUANIA,1455.276,1592.238,1587.903,1671.065,1695.286,1691.855,1713.277,1753.407,1808.982,1205.668,1244.063
8,MALTA,206.000,212.000,218.000,222.000,227.000,234.000,240.000,249.612,256.096,265.950,275.380
9,POLAND,12339.000,13384.000,14589.000,16080.000,16495.000,17240.000,17872.000,18744.000,19342.120,19978.589,20688.174
10,ROMANIA,3364.000,3221.000,3554.000,4027.000,4245.000,4320.000,4335.000,4487.000,4693.651,4905.630,5153.182
11,SLOVAKIA,1304.000,1334.000,1434.000,1545.000,1589.000,1669.000,1749.000,1826.000,1882.577,1952.002,2037.772
12,SLOVENIA,964.781,985.567,1020.127,1051.836,1065.927,1068.932,1074.109,1073.967,1071.922,1076.962,1087.686

In [8]:
sheets = pd.read_excel('./data/PC_Vehicles-in-use.xlsx', sheet_name=['Old Europe','New Europe'])

In [9]:
sheets['New Europe']

,REGIONS/COUNTRIES,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,BULGARIA,2538.000,1768.000,2082.000,2366.000,2502.000,2602.000,2694.000,2806.814,2910.235,3013.863,3162.037
1,CROATIA,1385.000,1436.000,1491.000,1535.000,1533.000,1515.000,1518.000,1445.220,1448.299,1474.495,1499.802
2,CYPRUS,355.000,373.000,411.000,444.000,461.000,463.000,470.000,475.000,474.561,478.492,487.692
3,CZECH REPUBLIC,3959.000,4109.000,4280.000,4423.000,4435.000,4496.000,4583.000,4699.000,4820.299,4937.206,5158.516
4,ESTONIA,493.800,554.000,523.800,551.800,545.700,552.700,574.015,602.133,628.500,653.000,676.600
5,HUNGARY,2889.000,2954.000,3012.000,3055.427,3013.719,2984.063,2967.808,2986.028,3040.732,3107.695,3196.856
6,LATVIA,742.447,822.011,904.869,932.828,904.308,636.664,612.321,618.274,634.603,657.799,679.048
7,LITHUANIA,1455.276,1592.238,1587.903,1671.065,1695.286,1691.855,1713.277,1753.407,1808.982,1205.668,1244.063
8,MALTA,206.000,212.000,218.000,222.000,227.000,234.000,240.000,249.612,256.096,265.950,275.380
9,POLAND,12339.000,13384.000,14589.000,16080.000,16495.000,17240.000,17872.000,18744.000,19342.120,19978.589,20688.174
10,ROMANIA,3364.000,3221.000,3554.000,4027.000,4245.000,4320.000,4335.000,4487.000,4693.651,4905.630,5153.182
11,SLOVAKIA,1304.000,1334.000,1434.000,1545.000,1589.000,1669.000,1749.000,1826.000,1882.577,1952.002,2037.772
12,SLOVENIA,964.781,985.567,1020.127,1051.836,1065.927,1068.932,1074.109,1073.967,1071.922,1076.962,1087.686

In [10]:
excelWriter = pd.ExcelWriter('cars.xlsx')

In [11]:
sheets['Old Europe'].to_excel(excelWriter, index=False, columns=['REGIONS/COUNTRIES',2010],
                              sheet_name='Old Europe 2010')
sheets['Old Europe'].to_excel(excelWriter, index=False, columns=['REGIONS/COUNTRIES',2011],
                              sheet_name='Old Europe 2011')
sheets['Old Europe'].to_excel(excelWriter, index=False, columns=['REGIONS/COUNTRIES',2012],
                              sheet_name='Old Europe 2012')

In [12]:
excelWriter.save()