In [2]:
import pandas as pd
import numpy as np

surveys = pd.read_csv('./data/StackOverflowDeveloperSurvey2018.csv', 
                      usecols=['Country','Gender','OperatingSystem'],
                     low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [5]:
surveys['Country'].is_unique

False

In [8]:
surveys.Country.unique()[:10]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel'],
      dtype=object)

In [9]:
surveys.Country.nunique()

183

In [10]:
len(surveys.Country.unique())

184

In [11]:
duplicatesKeepFirst = surveys.Country.duplicated()

In [13]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [14]:
len(surveys[~duplicatesKeepFirst])

184

In [17]:
surveys.drop_duplicates(['Country', 'OperatingSystem'], inplace=True)

In [18]:
surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN