In [1]:
import pandas as pd
import numpy as np

customer_names = pd.read_csv('./data/northwind/customers.csv',
                        usecols=['CustomerID','CompanyName'])
customer_cities = pd.read_csv('./data/northwind/customers.csv',
                        usecols=['CustomerID','City','Country'])

In [2]:
len(customer_names)

91

In [3]:
len(customer_cities)

91

In [4]:
customer_names.set_index('CustomerID',inplace=True)
customer_cities.set_index('CustomerID',inplace=True)

In [6]:
customers = customer_names.join(customer_cities)

In [7]:
len(customers)

91

In [8]:
customer_names.reset_index(inplace=True)

In [9]:
customer_names.join(customer_cities, on='CustomerID')

   CustomerID                         CompanyName          City  Country
0       ALFKI                 Alfreds Futterkiste        Berlin  Germany
1       ANATR  Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
2       ANTON            Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
3       AROUT                     Around the Horn        London       UK
4       BERGS                 Berglunds snabbk?¶p        Lule??   Sweden
..        ...                                 ...           ...      ...
86      WARTH                      Wartian Herkku          Oulu  Finland
87      WELLI              Wellington Importadora       Resende   Brazil
88      WHITC                White Clover Markets       Seattle      USA
89      WILMK                         Wilman Kala      Helsinki  Finland
90      WOLZA                      Wolski  Zajazd      Warszawa   Poland

[91 rows x 4 columns]

In [10]:
len(customer_names.join(customer_cities, on='CustomerID'))

91