In [1]:
import pandas as pd
import numpy as np

products = pd.read_csv('./data/northwind/products.csv', 
                       usecols=['ProductID','ProductName'])
orderedProducts = pd.read_csv('./data/northwind/order-details_del.csv',
                             usecols=['OrderID','ProductID','UnitPrice','Quantity'])

In [2]:
merged = products.merge(right=orderedProducts,on='ProductID',how='outer',indicator=True)

In [3]:
merged.head()

   ProductID ProductName  OrderID  UnitPrice  Quantity _merge
0          1        Chai  10348.0       14.4      15.0   both
1          1        Chai  10354.0       14.4      12.0   both
2          1        Chai  10370.0       14.4      15.0   both
3          1        Chai  10406.0       14.4      10.0   both
4          1        Chai  10413.0       14.4      24.0   both

In [4]:
merged['_merge'].value_counts()

both          289
left_only       5
right_only      0
Name: _merge, dtype: int64

In [5]:
filter = merged['_merge']=='left_only'

In [6]:
merged[filter]

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
16,6,Grandma's Boysenberry Spread,NaN,NaN,NaN,left_only
38,15,Genen Shouyu,NaN,NaN,NaN,left_only
85,27,Schoggi Schokolade,NaN,NaN,NaN,left_only
242,66,Louisiana Hot Spiced Okra,NaN,NaN,NaN,left_only
243,67,Laughing Lumberjack Lager,NaN,NaN,NaN,left_only