In [25]:
import pandas as pd
import numpy as np

mc = pd.read_csv('./data/mcdonalds.csv', usecols=['Category','Item','Calories','TotalFat'])

In [26]:
excelWriter = pd.ExcelWriter('mcdonalds-excel.xls')

In [27]:
mc.to_excel(excelWriter, sheet_name='Menu', index=False)

In [28]:
excelWriter.save()

In [29]:
imported1 = pd.read_excel('mcdonalds-excel.xls', sheet_name='Menu')

In [30]:
imported1['Calories'] = imported1['Calories'] / 2

In [31]:
imported1.to_excel(excelWriter, sheet_name = 'Menu Light', index=False)

In [32]:
excelWriter.save()

In [33]:
imported1['Calories'] = imported1['Calories'] / 2

In [34]:
imported1.to_excel(excelWriter, sheet_name = 'Menu Extra Light', index=False)

In [35]:
excelWriter.save()

In [39]:
final = pd.read_excel('mcdonalds-excel.xls', sheet_name=[0,1,2])

In [41]:
len(final)

3

In [42]:
final[1].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [43]:
final[2].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0

In [44]:
final[0].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0