In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
numbers = [1,2,3,11,12,13]
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [3]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [4]:
numSeries % 2 == 1

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [5]:
numSeries.where(numSeries % 2 == 1).dropna()

0     1.0
2     3.0
3    11.0
5    13.0
dtype: float64

In [6]:
numbersGreater10 = numSeries > 10
numbersGreater10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [7]:
numbersOdd = numSeries % 2 == 1
numbersOdd

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [9]:
numSeries.where(numbersGreater10 & numbersOdd).dropna()

3    11.0
5    13.0
dtype: float64

In [10]:
numSeries.where(numSeries.between(3,12))

0     NaN
1     NaN
2     3.0
3    11.0
4    12.0
5     NaN
dtype: float64

In [11]:
valuesToShow = numSeries.between(3,12)
numSeries.where(valuesToShow)

0     NaN
1     NaN
2     3.0
3    11.0
4    12.0
5     NaN
dtype: float64