In [5]:
import pandas as pd
import numpy as np

suppliers = pd.read_csv('./data/northwind/suppliers.csv', usecols=['SupplierID','CompanyName','City'])
products = pd.read_csv('./data/northwind/products_del_2.csv', usecols=['ProductID','ProductName','SupplierID'])

In [6]:
sup_prod = products.merge(suppliers, on='SupplierID', indicator=True)

In [7]:
print(len(products))
print(len(suppliers))
print(len(sup_prod))

68
29
68

In [8]:
sup_prod_left = suppliers.merge(products, on='SupplierID', how='left', indicator=True)

In [9]:
print(len(products))
print(len(suppliers))
print(len(sup_prod_left))

68
29
70

In [10]:
sup_prod_left[sup_prod_left['_merge'] == 'left_only']

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [11]:
sup_prod_right = products.merge(suppliers, on='SupplierID', how='right', indicator=True)

In [12]:
sup_prod_right[sup_prod_right['_merge'] == 'right_only']

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
68,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
69,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only