In [2]:
import pandas as pd
import numpy as np

categories = pd.read_csv('./data/northwind/categories1.csv', 
                         usecols = ['CategoryID','CategoryName'], index_col='CategoryID')
products = pd.read_csv('./data/northwind/products.csv',
                      usecols=['ProductID','ProductName','SupplierID','CategoryID'])
suppliers = pd.read_csv('./data/northwind/suppliers.csv', 
                        usecols=['SupplierID','CompanyName','City'])

In [7]:
prod_cat = products.merge(categories,left_on='CategoryID', right_index=True)

In [8]:
prod_cat_sup = prod_cat.merge(suppliers,on='SupplierID')

In [9]:
prod_cat_sup.head(2)

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,1,Chai,1,1,Beverages,Exotic Liquids,London
1,2,Chang,1,1,Beverages,Exotic Liquids,London

In [10]:
products.merge(categories,left_on='CategoryID',
               right_index=True).merge(suppliers,on='SupplierID').head()

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,1,Chai,1,1,Beverages,Exotic Liquids,London
1,2,Chang,1,1,Beverages,Exotic Liquids,London
2,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London
3,24,Guaran치 Fant치stica,10,1,Beverages,Refrescos Americanas LTDA,Sao Paulo
4,34,Sasquatch Ale,16,1,Beverages,Bigfoot Breweries,Bend