In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
numbers = [1,2,3,11,12,13]

In [3]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [5]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [6]:
numSeries.where(numSeries > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [7]:
numSeries.where(numSeries > 10, other = -1)

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [8]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [9]:
numSeries.where(numSeries > 10, inplace = True)

In [10]:
numSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [12]:
numSeries.dropna(inplace=True)

In [13]:
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [14]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [15]:
numSeries.filter(items = [0,2,4])

0     1
2     3
4    12
dtype: int64