In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
frame = pd.read_csv('./data/mcdonalds.csv',
                    usecols=['Item','Category','Calories','TotalFat',
                            'Sugars','Protein','Cholesterol'])

In [3]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [4]:
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [5]:
frame['TotalFat'].head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [14]:
SugarAndFat = frame.Sugars + frame.TotalFat
frame['SugarAndFat'] = SugarAndFat

In [7]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,25.0

In [8]:
SugarAndFat.head()

0    16.0
1    11.0
2    25.0
3    30.0
4    25.0
dtype: float64

In [9]:
frame['SugarAndProtein'] = frame.Sugars + frame.Protein
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,16.0,20
1,Breakfast,Egg White Delight,250,8.0,25,3,18,11.0,21
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,25.0,16
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,25.0,23

In [10]:
frame.insert(loc=2, column='SPF', value=frame.Protein+frame.TotalFat)
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,30.0,300,13.0,260,3,17,16.0,20
1,Breakfast,Egg White Delight,26.0,250,8.0,25,3,18,11.0,21
2,Breakfast,Sausage McMuffin,37.0,370,23.0,45,2,14,25.0,16
3,Breakfast,Sausage McMuffin with Egg,49.0,450,28.0,285,2,21,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,44.0,400,23.0,50,2,21,25.0,23

In [11]:
del frame['SugarAndProtein']

In [12]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,30.0,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,26.0,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,37.0,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,49.0,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,44.0,400,23.0,50,2,21,25.0

In [13]:
frame = frame.drop(columns=['SugarAndFat'])
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,30.0,300,13.0,260,3,17
1,Breakfast,Egg White Delight,26.0,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,37.0,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,49.0,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,44.0,400,23.0,50,2,21

In [19]:
frame.drop(labels='SugarAndFat',axis=1,inplace=True) #axis=0 - wiersz, axis=1 - kolumna

KeyError: "['SugarAndFat'] not found in axis"

In [17]:
frame.drop(columns=['SPF'], inplace=True)

In [18]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21