In [1]:
import pandas as pd
import numpy as np

fuel = pd.read_csv('./data/fuel.csv', low_memory=False,
                  usecols=['Vehicle ID','Year','Make','Model',
                           'Class','Fuel Type','Combined MPG (FT1)'],
                  index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [2]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [3]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [4]:
fuel['Year'] = fuel['Year'].astype('int')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 8.8 MB

In [5]:
fuel['Make'].value_counts()

Chevrolet              3389
Ford                   2721
Dodge                  2361
GMC                    2174
Toyota                 1599
                       ...
Fisker                    1
General Motors            1
Shelby                    1
E. P. Dutton, Inc.        1
London Coach Co Inc       1
Name: Make, Length: 128, dtype: int64

In [6]:
fuel['Make'] = fuel['Make'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int32(1), object(3)
memory usage: 6.9 MB

In [7]:
fuel['Model'] = fuel['Model'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(2), float64(1), int32(1), object(2)
memory usage: 5.2 MB

In [8]:
fuel['Class'] = fuel['Class'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(3), float64(1), int32(1), object(1)
memory usage: 3.0 MB

In [9]:
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1)
memory usage: 1.1 MB

In [10]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1)
memory usage: 1.1 MB