In [2]:
import pandas as pd
import numpy as np

suppliers = pd.read_csv('./data/northwind/suppliers_del_1.csv', usecols=['SupplierID','CompanyName','City'])
products = pd.read_csv('./data/northwind/products_del_1.csv', usecols=['ProductID','ProductName','SupplierID'])

In [3]:
prod_and_sup = products.merge(suppliers,on='SupplierID')

In [4]:
prod_and_sup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 0 to 69
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    70 non-null     int64
 1   ProductName  70 non-null     object
 2   SupplierID   70 non-null     int64
 3   CompanyName  70 non-null     object
 4   City         70 non-null     object
dtypes: int64(2), object(3)
memory usage: 3.3+ KB

In [5]:
print(len(prod_and_sup))
print(len(products))
print(len(suppliers))

70
75
27

In [6]:
prod_and_sup_outer = products.merge(suppliers,on='SupplierID',how='outer', indicator=True)

In [7]:
filterL = prod_and_sup_outer['_merge']=='left_only'

In [8]:
prod_and_sup_outer[filterL]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [11]:
filterR = prod_and_sup_outer['_merge']=='right_only'

In [12]:
prod_and_sup_outer[filterR]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only