In [1]:
import pandas as pd
import numpy as np

products = pd.read_csv('./data/northwind/products.csv', 
                       usecols=['ProductID','ProductName'])
orderedProducts = pd.read_csv('./data/northwind/order-details_del.csv',
                             usecols=['OrderID','ProductID','UnitPrice','Quantity'])

In [3]:
merged = products.merge(right=orderedProducts, on='ProductID',how='left',indicator=True)

In [4]:
merged.head()

   ProductID ProductName  OrderID  UnitPrice  Quantity _merge
0          1        Chai  10348.0       14.4      15.0   both
1          1        Chai  10354.0       14.4      12.0   both
2          1        Chai  10370.0       14.4      15.0   both
3          1        Chai  10406.0       14.4      10.0   both
4          1        Chai  10413.0       14.4      24.0   both

In [5]:
merged['_merge'].value_counts()

both          289
left_only       5
right_only      0
Name: _merge, dtype: int64

In [6]:
merged = products.merge(right=orderedProducts, on='ProductID',how='right',indicator=True)

In [7]:
merged.head()

   ProductID ProductName  OrderID  UnitPrice  Quantity _merge
0          1        Chai    10348       14.4        15   both
1          1        Chai    10354       14.4        12   both
2          1        Chai    10370       14.4        15   both
3          1        Chai    10406       14.4        10   both
4          1        Chai    10413       14.4        24   both

In [8]:
merged['_merge'].value_counts()

both          289
right_only      0
left_only       0
Name: _merge, dtype: int64

In [9]:
merged = orderedProducts.merge(right=products, on='ProductID',how='right',indicator=True)

In [10]:
merged['_merge'].value_counts()

both          289
right_only      5
left_only       0
Name: _merge, dtype: int64

In [11]:
filterR = merged['_merge'] == 'right_only'
merged[filterR]

,OrderID,ProductID,UnitPrice,Quantity,ProductName,_merge
289,NaN,6,NaN,NaN,Grandma's Boysenberry Spread,right_only
290,NaN,15,NaN,NaN,Genen Shouyu,right_only
291,NaN,27,NaN,NaN,Schoggi Schokolade,right_only
292,NaN,66,NaN,NaN,Louisiana Hot Spiced Okra,right_only
293,NaN,67,NaN,NaN,Laughing Lumberjack Lager,right_only