In [1]:
import pandas as pd
import numpy as np

fuel = pd.read_csv('./data/fuel.csv',
                   usecols=['Year','Make','Model','Range (FT1)'
                            ,'City Range (FT1)'])
fuel.set_index(['Year','Make','Model'], inplace=True)
fuel.sort_index(inplace=True)
fuel.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [2]:
fuel.loc[1984]

                              Range (FT1)  City Range (FT1)
Make       Model
AM General DJ Po Vehicle 2WD          0.0               0.0
           DJ Po Vehicle 2WD          0.0               0.0
           FJ8c Post Office           0.0               0.0
           FJ8c Post Office           0.0               0.0
Alfa Romeo GT V6 2.5                  0.0               0.0
...                                   ...               ...
Volvo      760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0

[1964 rows x 2 columns]

In [3]:
fuel.loc[(1984,'Alfa Romeo')]

                    Range (FT1)  City Range (FT1)
Model
GT V6 2.5                   0.0               0.0
GT V6 2.5                   0.0               0.0
Spider Veloce 2000          0.0               0.0
Spider Veloce 2000          0.0               0.0

In [4]:
fuel.loc[(1984,'Alfa Romeo','Spider Veloce 2000')]

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [5]:
fuel.loc[(1984,'Alfa Romeo','Spider Veloce 2000'),'Range (FT1)']

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64

In [6]:
fuel = fuel.transpose()

In [7]:
fuel.loc['Range (FT1)',(1984)]

Make        Model
AM General  DJ Po Vehicle 2WD    0.0
            DJ Po Vehicle 2WD    0.0
            FJ8c Post Office     0.0
            FJ8c Post Office     0.0
Alfa Romeo  GT V6 2.5            0.0
                                ...
Volvo       760 GLE              0.0
            760 GLE              0.0
            760 GLE              0.0
            760 GLE              0.0
            760 GLE              0.0
Name: Range (FT1), Length: 1964, dtype: float64

In [8]:
fuel.loc['Range (FT1)',(1984,'Alfa Romeo','Spider Veloce 2000')]

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64